<li id="row-{{id}}" class="cs-card-row list-group-item px-2">
    <span>
        {{name}}
    </span>
    <span style="float: right;">
        {{#each cost}}
            {{> cost this}}
        {{/each}}
        <span class="pl-1">
        <i id="share-{{id}}"
            class="cs-send material-icons" style="vertical-align: middle;">send</i>
        </span>
    </span>
</li>
